<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="home.css">
    <title>Startseite</title>
</head>

<body>
    <h1>Hallo zusammen</h1>
    <div id="home">
        <a class="formulare" href="http://127.0.0.1:5000/form">Formular</a>
        <a class="formulare" href="http://127.0.0.1:5000/me">Ich</a>
    </div>
</body>

</html>